body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(26, 24, 24);
}
input:hover{
    cursor: pointer;
}
input{
    width: 20px;
    padding: 25px;
    margin-top: 5px;
    font-size: larger;
    font-weight: 600;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
}
.player-section{
    display: flex;
    gap: 20px;
}